html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 800px;
    background: #FFC482;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#mainBoundary {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

/*------------------------- HEADER and Footer --------------------------------*/
.hfBox {
    /* DIV shared by the Header and Footer */
    width: 100%;
    margin: 0 auto;
    padding: 1px;
    background: #66999B;
    border: 2px solid #2B3A67;
    box-sizing: border-box;
}

#heade {
    width: 98%;
    max-width: 3000px;
    margin: 0 auto;
    display: flex;
}

/*---------- LOGO in HEADER */
#mainLogoBox {
    max-width: 100px;
    margin: 5px;
    float: left;
    align-items: center;
    vertical-align: center;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

#logoBox {
    display: flex;
    height: 100%;

    margin: 0 auto;
    align-items: center;
    vertical-align: center;
    box-sizing: border-box;
    background-color: #B3AF8F;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
}

.iconstyle {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#headerText {
    /* Header Div + (Details Txt) */
    width: 65%;
    vertical-align: top;
    padding-left: 15px;
    /*Offset for space between logo and text*/
    padding-top: 5px;
    user-select: none;
    /*Unselectable*/
    display: inline-block;

    font-family: "Outfit", sans-serif;
}

#bannertext {
    /*Main Page Heading*/
    font-size: 32px;
    letter-spacing: 1px;
    /*Increase space betwen characters*/
    margin: 0px;
    color: #FFC482;
    text-shadow: 3px 3px #a83113;
    /*Text shadow for pop*/
}

#bannerText2 {
    /*Address*/
    font-size: 18px;
    margin-top: 16px;
    font-family: "Nanum Gothic", sans-serif;
    color: #FFFBEA;
}

/*DIV to clear previous floats*/
.clear {
    clear: both;
    height: 0px;
    margin: 0 auto;
    padding: 0;
}

footer {
    text-align: center;
    user-select: none;
    height: 24px;
}

#footnote {
    font-family: "Outfit", sans-serif;
    font-size: 100%;
    color: #FFFBEA;
    margin: 6px auto;
}


/*--------------------------- NAVIGATION ------------------------------*/
#navi {
    width: 100%;
    margin: 0 auto;
    background: #2B3A67;
    border-bottom: 2px solid #2B3A67;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

/* Decoration for Menu bar */
.menuDeco {
    display: inline-block;
    width: 5%;
    height: 32px;
    text-align: center;
    background: #66999B;
    border: none;
    padding: 0;
    margin: 1px auto;
    font-size: 20px;
    vertical-align: top;
    line-height: 1px;
    overflow: hidden;
}

/* Decoration for Menu bar */
.menuDeco2 {
    display: inline-block;
    width: 5%;
    height: 32px;
    text-align: center;
    background: #496A81;
    border: none;
    padding: 0;
    margin: 1px auto;
    font-size: 20px;
    vertical-align: top;
    line-height: 1px;
    overflow: hidden;
}

.menulinks {
    display: inline-block;
    width: 19%;
    height: 32px;
    text-align: center;
    user-select: none;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    color: #2B3A67;
    background: #FFC482;
    border: none;
    margin: 1px auto;
    font-size: 100%;
    overflow: hidden;
}

.menulinks:hover {
    background: #a83113;
    border: 1px solid #FFFBEA;
    color: #FFFBEA;
    box-sizing: border-box;
    cursor: pointer;
}

/* Second class for Logout button */
.menulinks2 {
    display: inline-block;
    width: 19%;
    height: 32px;
    text-align: center;
    user-select: none;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    color: #FFFBEA;
    background: #a83113;
    border: none;
    padding: 0;
    margin: 1px auto;
    font-size: 100%;
    overflow: hidden;
}

.menulinks2:hover {
    background: #B3AF8F;
    border: 1px solid #FFFBEA;
    color: #2B3A67;
    box-sizing: border-box;
    cursor: pointer;
}

.menuText {
    margin: 5px auto;
    padding: 0;
}


/*-------------------------- Main DIVS for content -------------------------------*/
#mainbox{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#infoBox {
    flex: 1;
    display: flex;
    flex-direction: column;    
    width: 98%;
    background: #FFE4AB;
    margin: 0 auto;
    position: relative;
    border-left: 2px #2B3A67 solid;
    border-right: 2px #2B3A67 solid;
}


/*---------------------------- PAGE HEADERS -----------------------------*/
.subheadings {
    /*DIV class forsub headings*/
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

.subheader {
    /*Text on the Center*/
    text-align: center;
    font-size: 200%;
    margin: 0;
    font-family: "Outfit", sans-serif;
    color: #2B3A67;
    top: 0px;
    user-select: none;
}

.subheader2 {
    /*Text on the Right*/
    font-size: 150%;
    font-family: "Outfit", sans-serif;
    text-align: right;
    color: #2B3A67;
    top: 0px;
    margin: 0;
    margin-bottom: 2px;
    padding-top: 2px;
    user-select: none;
}

.subheader3 {
    /*Text on the Left*/
    font-size: 150%;
    font-family: "Outfit", sans-serif;
    text-align: left;
    color: #2B3A67;
    top: 0px;
    margin: 0;
    margin-bottom: 2px;
    padding-top: 2px;
    user-select: none;
}

/*---------------------------------------------------------*/
.line {
    /*DIV that is used as, basically, a segmenting line*/
    width: 70%;
    height: 2px;
    background: #a83113;
    margin: 5px auto;
}

/*---------------------------- PAGE Text -----------------------------*/
.para {
    /*DIV for .passage class */
    width: 70%;
    margin: 0 auto;
    user-select: none;
}

.passage {
    /*p element for text on page*/
    font-family: "Nanum Gothic", sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 5px;
    color: #2B3A67;
    user-select: none;
}


/*------------------------------------------*/
/*Slideshow Stylings*/
.slideshowz {
    margin: 15px auto;
    width: 70%;
    padding: 0;
	background-color: #B3AF8F;
	box-sizing: border-box;
	border-radius: 3px 3px 3px 3px;
	overflow: hidden;
    position: relative;
}

/* Slideshow container */
.slideshow-container {
    margin: 0 auto;
}


/* Next & previous buttons */
.prev, .next{
    cursor: pointer;
    top: 46%;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    font-family: "Nanum Gothic", sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Images within slide divs */
.slideImgs {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-radius: 3px 3px 3px 3px;
    display: flex;
}